# Ignore all .env files anywhere
**/.env
**/.env.*
!**/.env.example

# Ignore all node_modules folders
**/node_modules/

# Ignore all dist folders
**/dist/
**/build/

# Ignore all log files
**/*.log

# Ignore specific files in root
/.env
/.env.*
!/env.example